* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff url(../assets/bg.png);
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    margin: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#container {
    background: #ede9cc;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 740px;
}

#topo {
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}

#area-logo {
    background: url(../assets/topo-imagem-principal.png) no-repeat;
    height: 250px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#area-menu {
    background: url(../assets/topo-imagem-lateral.png) no-repeat;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    z-index: 2;
}

#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais {
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    color: #8b8448;
    font-size: 0.7em;
    padding-bottom: 5px;
    padding-top: 5px;
}

#menu-locais .locais {
    float: left;
    line-height: 2.1em;
}

#menu {
    margin-top: 15px;
}

ul#navegaçao {
    float: left;
}

ul#navegaçao a {
    color: #6e672c;
    font-size: 0.8em;
    line-height: 30px;
    padding: 5px;
    text-transform: uppercase;
}

ul#navegaçao a:hover {
    background: #fdf6be;
}

a.reserva {
    background: #a29750;
    color: #fff5b0;
    float: right;
    padding: 5px 10px;
    text-transform: uppercase;
}

.logo a {
    background: url(../assets/logo.png) no-repeat;
    height: 66px;
    left: 15px;
    position: absolute;
    text-indent: -4000px;
    top: 15px;
    width: 151px;
    z-index: 3;
}

.depoimento {
    height: 164px;
    width: 226px;
    float: right;
}